# Experiment 6
## Title : Study of Conditional Statements in Python
### Name : Harshit
### PRN : 25070123053
### Batch : A3

In [ ]:
'''1a. Check whether a number is positive, negative
1b. Check whether a number is positive, negative, or zero'''
num=int(input("Enter number : "))
#1a
if num>0:
  print("Positive")
elif num<0:
  print("Negative")
#1b
if num>0:
  print("Positive")
elif num==0:
  print("Zero")
else:
  print("Negative")

Enter number : 0
Zero

In [ ]:
'''2. odd or even'''
num=int(input("Enter number : "))
if num%2==0:
  print("even")
else :
  print("odd")

Enter number : 5
odd

In [ ]:
'''3. Greater number in gbven two numbers'''
num=int(input("Enter number : "))
num1=int(input("Enter number : "))
if num1>num:
  print("greater :",num1)
else :
  print("greater :",num)

Enter number : 55
Enter number : 64
greater : 64

In [ ]:
'''4. Find largest of three number'''
a=int(input("Enter number : "))
b=int(input("Enter number : "))
c=int(input("Enter number : "))
if a>b and a>c:
  print("Greatest",a)
elif b>a and b>c:
  print("Greatest",b)
elif c>a and c>b :
  print("Greatest",c)
else :
  print("All are equal")

Enter number : 10
Enter number : 0
Enter number : 25
Greatest 25

In [ ]:
'''5. get input of users for 5 subjects and findout avg using if elif else'''
marks1=int(input("Enter marks : "))
marks2=int(input("Enter marks : "))
marks3=int(input("Enter marks : "))
marks4=int(input("Enter marks : "))
marks5=int(input("Enter marks : "))
average = (marks1+marks2+marks3+marks4+marks5)/5
print("Average of marks :",(marks1+marks2+marks3+marks4+marks5)/5)
if average >= 90:
  print("Grade O")
elif average >=75:
  print("Grade A")
elif average>=50:
  print("grade B")
elif average>=35:
  print("grade C")
else :
  print("fail")

Enter marks : 55
Enter marks : 85
Enter marks : 95
Enter marks : 99
Enter marks : 36
Average of marks : 74.0
grade B

In [ ]:
# Check for Leap Year
year = int(input("Enter Year :"))
if year%4==0 and year%100!=0 or year%400==0:
  print("Leap Year")
else :
  print("Not a Leap Year")

Enter Year :2028
Leap Year

In [ ]:
# Upcoming Leap Year
year = int(input("Enter Current Year :"))
while True:
  if year%4==0 and year%100!=0 or year%400==0:
    print("Next Leap Year",year)
    break
  year+=1

Enter Current Year :2026
Next Leap Year 2028

In [2]:
# 7. Check whether a date is valid or not and print incremented date.
date=input("Enter Valid Date (DD/MM/YYYY) :")
d=(date.split('/'))
# to check print(d)
day=int(d[0])
month=int(d[1])
year=int(d[2])
if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
  if month == 2 and day <= 29:
    print("The date is valid")

if (month == 1 or month == 3 or month == 5 or month == 7 or month == 8 or month == 12) and day <= 31:
  print("The date is valid")

elif month == 2 and day <= 28:
  print("The date is valid")
elif month == 4 or month == 6 or month == 9 or month == 11 and day <= 30:
  print("The date is valid")
else:
  print("The date is invalid")


if day == max:
  day = 1
  if month == 12:
    month = 1
    year = year +1
  else:
    month = month + 1
else:
  day = day + 1
  print("The incremented date is:", day, "/", month, "/", year)

Enter Valid Date (DD/MM/YYYY) :30/12/2025
The date is valid
The incremented date is: 31 / 12 / 2025

In [ ]:
# Salary calculation with Allowances
basic=float(input("Enter Basic Salary :"))
if basic <= 10000:
  HRA=(basic*0.2)
  DA=(basic*0.8)
elif basic <= 20000:
  HRA=(basic*0.25)
  DA=(basic*0.9)
else :
  HRA=(basic*0.3)
  DA=(basic*0.95)
print("Total Salary :",basic+HRA+DA)

Enter Basic Salary :15000
Total Salary : 32250.0

In [ ]:
# Calculate Income Tax Based on Annual Income
income=float(input("Enter Annual Income :"))
taxable = income - 250000
if taxable >= 250000 and taxable <= 500000:
  print("Income tax :",taxable*0.05)
elif taxable > 500000 and taxable <= 1000000:
  print("Income tax :",taxable*0.2)
else :
  print("Income tax :",taxable*0.3)

Enter Annual Income :300000
Income tax : 15000.0