<a href="https://colab.research.google.com/github/harshit01422-pixel/Python-Lab/blob/main/Loops_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# While Loop

In [ ]:
#While loop
#Used when number of iterations are not know
Syntax
while condition:
  statement(s)

In [1]:
# Print numbers 1 to 5

i = 1
while (i<=5):
  print(i)
  i = i + 1

1
2
3
4
5

In [2]:
# Take input from user, till what iteration the number will be printed? (print output in a single line)

n = int(input("Enter the number of iteratons: "))
i = 1
while i<=n:
  print(i, end = " ")
  i = i+1

Enter the number of iteratons: 8
1 2 3 4 5 6 7 8

In [3]:
# Factorial of a number

n = int(input("Enter the number: "))
fact = 1
N = n
while n >= 1:
  fact = fact * n
  n = n - 1
print("Factorial is: ", fact)

Enter the number: 5
Factorial is:  120

In [4]:
# Fibonacci Series using while loop

n = int(input("Enter number of terms: "))
a = 0
b = 1
i = 0
while i < n:
    print(a, end=" ")
    c = a + b
    a = b
    b = c
    i = i + 1

Enter number of terms: 10
0 1 1 2 3 5 8 13 21 34

In [5]:
# Reverse a number

num = int(input("Enter the number: "))
rev = 0

while num > 0:
  digit = num % 10
  rev = rev * 10 + digit
  num //= 10

print("Reversed number : ", rev)

Enter the number: 1738
Reversed number :  8371

In [6]:
# Check Palindrome of a number or string

string = input("Enter a string: ")
rev = string[::-1]
if string == rev:
  print("Palindrome")
else:
  print("Not Palindrome")

Enter a string: 121
Palindrome

In [7]:
# Count digits in a number

num = int(input("Enter a number: "))
count = 0

while num > 0:
  count = count + 1
  num //= 10

print("Number of digits: ", count)

Enter a number: 6983
Number of digits:  4

In [ ]:
#Exit the loop when i = 3

i = 1

while (i<6):
  print(i)
  if i == 3:
    break
  i = i + 1

In [8]:
# Search an element in a list

prn_nos = ["25070123066","25070123062","25070123066","25070123053","25070123055","25070123158","25070123159","25070123060","25070123112","25070123064"]
PRN = input("Enter a PRN number: ")

i = 0
length = len(prn_nos)


while i < length:
    if prn_nos[i] == PRN:
      print("PRN found at index: ", i+1)
      break
    i = i + 1
else:
    print("PRN Not found")

Enter a PRN number: 25070123063
PRN Not found

In [ ]:
#Print numbers from 1-10 skip 5
i=1
while i<=10:
  if i==5:
    i+=1
    continue
  else:
    print(i,end=' ')
    i+=1

1 2 3 4 6 7 8 9 10

In [ ]:
#Print only odd numbers 1-10
i=1
while i<=10:
  if i%2==0:
    i+=1
    continue
  else:
    print(i,end=' ')
    i+=1

1 3 5 7 9

# For Loop

In [ ]:
#Print 1-6
for i in range(1,7):
  print(i,end=' ')

1 2 3 4 5 6

In [ ]:
#Print even numbers from 1-10 using range function
for i in range(2,11,2):
  print(i,end=' ')

2 4 6 8 10

In [ ]:
#Sum of first n numbers
n = int(input("Enter number :"))
sum = 0
for i in range(1,n+1):
  sum+=i
print(sum)

Enter number :5
15

In [ ]:
#Nested For Loop
for i in range(1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
#3x3 matrix display
A = [[1,2,3],[4,5,6],[7,8,9]]
for i in range(3):
  for j in range(3):
    print(A[i][j],end=' ')
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
#Self practice
A = [[1,2,3],[4,5,6],[7,8,9]]
for row in A:
  print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
#Multiplication of Two 3x3 matrix (Most Important)
B = [[0,0,0],[0,0,0],[0,0,0]]
A = [[0,0,0],[0,0,0],[0,0,0]]

for i in range(3):
  for j in range(3):
    elements= int(input("Enter Element for Matrix 1 :"))
    B[i][j]=elements
for i in range(3):
  for j in range(3):
    elements= int(input("Enter Element for Matrix 2 :"))
    A[i][j]=elements
for g in B:
  print(g)
for h in A:
  print(h)
#B = [[1,1,1],[1,2,3],[1,1,3]]
result = [[0,0,0],[0,0,0],[0,0,0]]
if len(A)==len(B):
    print("Valid Matrix")
    for i in range(3):
      for j in range(3):
        for k in range(3):
          result[i][j] += A[i][k] * B[k][j]
    print("Products Of matrices : ")
    for row in result:
      print(row)
else :
  print("Invalid Matrix")

In [ ]:
# Python program to accept three digits and print all possible combinations
digits = []
for i in range(3):
  n=int(input("Digits :"))
  digits.append(n)
for i in range(3):
  for j in range(3):
    for k in range(3):
      if (digits[i]!=digits[j] and digits[j]!=digits[k] and digits[k]!=digits[i]):
        print("Comibinations :",digits[i],digits[j],digits[k])

Digits :1
Digits :2
Digits :3
Comibinations : 1 2 3
Comibinations : 1 3 2
Comibinations : 2 1 3
Comibinations : 2 3 1
Comibinations : 3 1 2
Comibinations : 3 2 1

In [ ]:
#Armstrong number
n = int(input("Enter Number :"))
total = 0
for digit in str(n):
  total+= int(digit)**len(str(n))
if total == n:
  print("Armstrong")
else :
  print("Not Armstrong")

Enter Number :1634
Armstrong

In [ ]:
#Prime Number
flag = 0
n=int(input("Enter Number :"))
for i in range(2,n):
  if n%i==0:
    flag = 0
    break
  else :
    flag = 1
if flag==1:
  print("Prime")
else :
  print("Not Prime")

Enter Number :2
Not Prime

In [ ]:
#Print all prime numbers in range
n = int(input("Enter Range :"))
for i range(n+1):

In [ ]:
# Inverted Pyramid
n=5
for i in range(n):
  print(i*' ', (n-i)*' *')

  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
# Pyramid
n=5
for i in range(n):
  print((n-i)*' ', (i)*' *')

      *
     * *
    * * *
   * * * *

In [ ]:
# Right triangle
n=5
for i in range(n):
  print('*'*i)

*
**
***
****

In [ ]:
# Floyd's Triangle
n=5
a=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(a,end=' ')
    a+=1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
# Number Triangle
n=5
for i in range(1,n+1):
  for j in range(i):
    print(i,end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5