<a href="https://colab.research.google.com/github/harshit01422-pixel/Python-Lab/blob/main/EDA__Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create Dataset and Load Dataset
# Experiment 10
## Name = Harshit
## PRN = 25070123053
## Batch = A-3

In [97]:
import pandas as pd
data = {
    "Roll No.":[53,62,65,66,158],
    "Gender":["Male","Male","Male","Female","Male"],
    "Department":["Computer","IT","Mechanical","ENTC","Computer"],
    "CGPA":[8.7,9.0,6.7,7.6,10]
}
df = pd.DataFrame(data)
df.to_csv("student.csv",index=False)
df

   Roll No.  Gender  Department  CGPA
0        53    Male    Computer   8.7
1        62    Male          IT   9.0
2        65    Male  Mechanical   6.7
3        66  Female        ENTC   7.6
4       158    Male    Computer  10.0

In [86]:
df.shape

(5, 4)

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Roll No.    5 non-null      int64
 1   Gender      5 non-null      object
 2   Department  5 non-null      object
 3   CGPA        5 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 292.0+ bytes

In [88]:
df.size

20

In [89]:
# Access information of Column Department
df["Department"]

0      Computer
1            IT
2    Mechanical
3          ENTC
4      Computer
Name: Department, dtype: object

In [90]:
# Access information of PRN 65
df[df["Roll No."]==65]

   Roll No. Gender  Department  CGPA
2        65   Male  Mechanical   6.7

In [91]:
# Find out Data type of each column
a=df.dtypes
a

Roll No.        int64
Gender         object
Department     object
CGPA          float64
dtype: object

In [92]:
# Perform Mean,median,mode operation
mean1=df["CGPA"].mean()
print("Mean :",mean1)
mode1=df["CGPA"].mode()
print("Mode :",mode1)
median1=df["CGPA"].median()
print("Median:",median1)

Mean : 8.4
Mode : 0     6.7
1     7.6
2     8.7
3     9.0
4    10.0
Name: CGPA, dtype: float64
Median: 8.7

In [93]:
# Insert a new column Grade
df["Grade"]=['A','A','B','C','O']
df

   Roll No.  Gender  Department  CGPA Grade
0        53    Male    Computer   8.7     A
1        62    Male          IT   9.0     A
2        65    Male  Mechanical   6.7     B
3        66  Female        ENTC   7.6     C
4       158    Male    Computer  10.0     O

In [98]:
# Delete column gender
df.drop("Gender",axis=1,inplace=True)
df

   Roll No.  Department  CGPA
0        53    Computer   8.7
1        62          IT   9.0
2        65  Mechanical   6.7
3        66        ENTC   7.6
4       158    Computer  10.0

In [95]:
# CGPA of topper
a=df["CGPA"].max()
a

10.0

In [96]:
# CGPA of PRN 158
df[df["Roll No."]==158]["CGPA"]

4    10.0
Name: CGPA, dtype: float64

In [101]:
# Upload the Dataset
import pandas as pd
import numpy as np
df=pd.read_csv('Cars93.csv')  #/content/Cars93.csv
df

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0
...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0

In [105]:
display(df.head())
display(df.tail())

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
0,Acura,Integra,Small,15.9,25,NaN,140,5,26.5,11.0
1,Acura,Legend,Midsize,33.9,18,Driver & Passenger,200,5,30.0,15.0
2,Audi,90,Compact,29.1,20,Driver only,172,5,28.0,14.0
3,Audi,100,Midsize,37.7,19,Driver & Passenger,172,6,31.0,17.0
4,BMW,535i,Midsize,30.0,22,Driver only,208,4,27.0,13.0

,Manufacturer,Model,Type,Price,MPG.city,AirBags,Horsepower,Passengers,Rear.seat.room,Luggage.room
88,Volkswagen,Eurovan,Van,19.7,17,NaN,109,7,34.0,NaN
89,Volkswagen,Passat,Compact,20.0,21,NaN,134,5,31.5,14.0
90,Volkswagen,Corrado,Sporty,23.3,18,NaN,178,4,26.0,15.0
91,Volvo,240,Compact,22.7,21,Driver only,114,5,29.5,14.0
92,Volvo,850,Midsize,26.7,20,Driver & Passenger,168,5,30.0,15.0

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Manufacturer    93 non-null     object
 1   Model           93 non-null     object
 2   Type            93 non-null     object
 3   Price           93 non-null     float64
 4   MPG.city        93 non-null     int64
 5   AirBags         59 non-null     object
 6   Horsepower      93 non-null     int64
 7   Passengers      93 non-null     int64
 8   Rear.seat.room  91 non-null     float64
 9   Luggage.room    82 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 7.4+ KB

In [109]:
df.size

930

In [111]:
df.describe()

,Price,MPG.city,Horsepower,Passengers,Rear.seat.room,Luggage.room
count,93.000000,93.000000,93.000000,93.000000,91.000000,82.000000
mean,19.509677,22.365591,143.827957,5.086022,27.829670,13.890244
std,9.659430,5.619812,52.374410,1.038979,2.989072,2.997967
min,7.400000,15.000000,55.000000,2.000000,19.000000,6.000000
25%,12.200000,18.000000,103.000000,4.000000,26.000000,12.000000
50%,17.700000,21.000000,140.000000,5.000000,27.500000,14.000000
75%,23.300000,25.000000,170.000000,6.000000,30.000000,15.000000
max,61.900000,46.000000,300.000000,8.000000,36.000000,22.000000